fastapi
uvicorn

motor
pymongo
dnspython

python-dotenv
pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

razorpay
setuptools<81

google-genai
openai

sentence-transformers
chromadb

redis

requests
httpx

pypdf

python-docx
openpyxl
python-pptx

youtube-transcript-api
yt-dlp