@import "tailwindcss";

/* AXEL Dark Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}